.container-custom {
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
        }

h1 {
  text-align: center;
  font-weight: bold;
        }

p {
  text-align: center;
  font-size: larger;
        }

.textContainer h2 {
  vertical-align: middle;
  display: inline-block;
}

.centered {
  text-align:center;
}