.container-custom {
<<<<<<< HEAD
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
=======
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
>>>>>>> 2d89bb05a9651d234fc461d2cbd0f083c8d96dcf
        }

h1 {
  text-align: center;
  font-weight: bold;
        }

p {
  text-align: center;
  font-size: larger;
        }

.textContainer h2 {
  vertical-align: middle;
  display: inline-block;
}

.centered {
  text-align:center;
}