<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>
    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/sandstone/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">


</head>

<h2 align="center">Log in</h2>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/about">About</a>
            <a class="navbar-brand" href="/contact">Contact</a>
        </div>

    </div>
</nav>
    <div class="container">
    <table width="300px" align="center">
        <tr>
            <td>
                <form action="/login/applicant" method="post">
                    <p>
                    <input type="text" id="username" class="form-control" name="username" placeholder="e-mail"required>
                    <input type="password" id="password" class="form-control" name="password" placeholder="application code" required> </p>
                    <p>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Log In</button>
                    </p>
                </form>
            </td>
        </tr>
    </table>
    </div>
    <div class="col-md-2 col-md-offset-8">
        <input type='button'value="Back" class="btn btn-warning" onclick="history.go(-1);return true;">
    </div>
</body>
</html>