<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="padding-top: 100px">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/about">About</a>
        </div>

    </div>
</nav>

    <table style="width:50%" align="center">
        <tr>
             <td colspan="2" width="100%"><h1>Don't hesitate to contact us!</h1></td>
        </tr>
        <tr>
            <td colspan="2" width="100%"><img src="static/jozsef_boda.jpg"></td>
        </tr>
        <tr>
            <td width="50%">+36 20 519-9117</td>
        </tr>
        <tr>
            <td width="50%">hello@codecool.com</td>
        </tr>

    </table>
</body>
</html>