{% extends "filter_menu.html" %}

			{% block result %}
			<br>
            <div class="col-md-12">

				<ul>
					<table align="center" class="table table-hover">
						<tr>
							<td>Date</td>
							<td>Name of Applicant</td>
							<td>Application Code</td>

						</tr>
						{% for n in result %}
						<tr>
							<td>{{n.date}}</td>
							<td>{{n.applicant.first_name}} {{n.applicant.last_name}}</td>
							<td>{{n.applicant.application_code}}</td>

						</tr>
						{% endfor %}
					</table>
      			</ul>

			</div>
			{% endblock %}