<!DOCTYPE html>
<html>
	<head>
	    <title>Filter Menu</title>
	</head>

		<body style="background-color: bisque">
			<table align="center">
				<form action="/admin" method="post">
					<tr>
						<td>
							<h3>Filter Applicants</h3>
						</td>
					</tr>
				<tr>
					<td>Filter by:</td>
					<td>
							<select name = 'Filter By'>
								  <option value="Status">Status</option>
								  <option value="Time">Time</option>
								  <option value="Location">Location</option>
								  <option value="Name">Name</option>
								  <option value="Email">Email</option>
								  <option value="School">School</option>
								  <option value="Mentor name">Mentor name</option>
							</select>
					</td>

				</tr>
				<p>
				<tr>
					<td>Data:</td>
					<td><input name="filter"></td>
				</tr>
				<tr>
					<td>
						<td><button type='submit'>Filter</button></td>
					</td>
				</tr>
				</p>
				</form>
			</table>

			<table align="center">
				<form action="/admin_int" method="post">
					<tr>
						<td>
							<h3>Filter Interviews</h3>
						</td>
					</tr>
					<tr>
						<td>Filter by:</td>
						<td>
						<select name="interview_filter">
							<option value ="School">School</option>
							<option value ="Applicant">Applicant</option>
							<option value ="Mentor">Mentor</option>
							<option value ="Date">Date</option>
						</select>
					</td>
					</tr>
					<p>
					<tr>
						<td>Data:</td>
					<td><input name="Filter By"></td>
					</tr>
						<tr>
					<td>
						<td><button type='submit'>Filter</button></td>
					</td>
					</tr>
					</p>
                </form>
            </table>

							<p>
							<a href="{{url_for('logout')}}"><img src="static/logout-button.png" width="75" height="35"></a></p>
			</form>
		</body>

</html>
