<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/sandstone/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
</head>

<body style="padding-top: 100px">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        </div>

    </div>
</nav>
<div class="row">
    <div class="col-md-6">
        <table align="center">
            <form action="/admin" method="post">
                <tr>
                    <td>
                        <h3>Filter Applicants</h3>
                    </td>
                </tr>
                <tr>
                    <td>Filter by:</td>
                    <td>
                        <div data-toggle="toggle">
                            <select name='Filter By' class="btn btn-default dropdown-toggle">
                                <option value="status">Status</option>
                                <option value="registration_time">Time</option>
                                <option value="location">Location</option>
                                <option value="Name">Name</option>
                                <option value="email_address">Email</option>
                                <option value="School">School</option>
                                <option value="Mentor name">Mentor name</option>
                            </select>
                        </div>
                    </td>

                </tr>
                <p>
                    <tr>
                        <td>Data:</td>
                        <td><input name="filter"></td>
                    </tr>
                    <tr>
                        <td>
                        <td>
                            <button type='submit'>Filter</button>
                        </td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                            <br>
                            <p>
                            <a href="{{url_for('logout')}}" class="btn btn-default col-lg-5">Log out</a></p>
                        </td>
                    </tr>
                </p>
            </form>
        </table>
    </div>


    <div class="col-md-6">
        <table align="center">
            <form action="/admin_int" method="post">
                <tr>
                    <td>
                        <h3>Filter Interviews</h3>
                    </td>
                </tr>
                <tr>
                    <td>Filter by:</td>
                    <td>
                        <div data-toggle="toggle">
                            <select name="interview_filter" class="btn btn-default dropdown-toggle">
                                <option value="School">School</option>
                                <option value="Applicant">Applicant</option>
                                <option value="Mentor">Mentor</option>
                                <option value="Date">Date</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <p>
                    <tr>
                        <td>Data:</td>
                        <td><input name="Filter By"></td>
                    </tr>
                    <tr>
                        <td>
                        <td>
                            <button type='submit'>Filter</button>
                        </td>
                        </td>
                    </tr>
                </p>
            </form>
        </table>
    </div>
</div>
{% block result %}{% endblock %}

</form>
</body>

</html>
