<!DOCTYPE html>

    <head>
        <title>Applicant Registration</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <form action="/registration" method="post">
            <h2>Applicant Registration Form</h2>

                <h3>First name</h3>
                <textarea name="first_name"
                             id="first_name"
                             rows="1"
                             cols="40"></textarea>

                <h3>Last name</h3>
                <textarea name="last_name"
                             id="last_name"
                             rows="1"
                             cols="40"></textarea>

                <h3>Gender</h3>
                <p><select name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option></select></p>

                <h3>Email address</h3>
                <textarea name="email_address"
                             id="email_address"
                             rows="1"
                             cols="60"></textarea>

                <h3>City</h3>
                <p><select name="city">
                    <option value="sopron">Sopron</option>
                    <option value="balatonlelle">Balatonlelle</option>
                    <option value="pusztaszentjakab">Pusztaszentjakab</option>
                    <option value="warsaw">Warsaw</option>
                    <option value="budapest">Budapest</option></select></p>




                 <button type="submit">Save</button>

        </form>

    </body>

</html>