<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Codecool Menu</title>
</head>

<style>
		table, th, td {

			text-align: center;
		}
</style>


    <body>
        <table bgcolor="#C0C0C0" align="center">

            <tr>
                <td width="100%"><img src="static/codecool.jpg" width="300" height="175"/></td>
            </tr>
            <tr>
                <td>
                    Menu
                </td>
            </tr>
            <tr>
                <td width="20%">
                    <form action="http://localhost:5000/form">
                        <input type="submit" value="Applicant"/>
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    <form action="http://127.0.0.1:5000/login">
                        <input type="submit" value="Admin"/>
                    </form>
                </td>
            </tr>

        </table>

   </>

</html>