<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applicant Profile</title>
</head>
<style>
		table, th, td {
			border: 5px solid #000000;
			text-align: center;
		}
</style>
<h2 align="center">Your personal profile</h2>
<body bgcolor="#ffe4c4">
<div>

				<ul>
					<table style="width:50%" bgcolor="#C0C0C0" align="center">
						<tr bgcolor="#00ffff">
							<td>Name</td>
							<td>Email address</td>
                            <td>Interview</td>
                            <td>School</td>
							<td>Status</td>

						</tr>

						<tr>
							<td>{{applicant.first_name}} {{applicant.last_name}}</td>
							<td>{{applicant.email_address}}</td>
                            <td>{{interview.date}}</td>
                            <td>{{applicant.school.name}}</td>
							<td>{{applicant.status}}</td>
						</tr>

					</table>
      			</ul>

			</div>

</body>
</html>